<div class="sidebar col-auto ">
  <a class="text-light font-italic"><i class=""></i> ADMIN Logged</a>
  <div class="text-light border mb-3"></div>
  <a class="btn text-left font-italic text-white" routerLink="/import" routerLinkActive="active-link">
    <img src="https://img.icons8.com/office/30/000000/user.png">ImportData</a>
  <a class="btn text-left font-italic text-white" routerLink="/stockexchange" routerLinkActive="active-link">
    <img src="https://img.icons8.com/office/30/000000/user.png">Stock Exchange</a>
  <a class="btn text-left font-italic text-white" routerLink="/addstock" routerLinkActive="active-link">
    <img src="https://img.icons8.com/office/30/000000/user.png">Add Stock</a>
    <a class="btn text-left font-italic text-white" routerLink="/company" routerLinkActive="active-link">
      <img src="https://img.icons8.com/office/30/000000/user.png">Companys</a>

  <div class="m-2">
    <button type="button" class="btn btn-labeled btn-success mx-2">
      <span class="btn-label"><i class="material-icons icon-align">feedback</i></span>Feedback</button>
  </div>
</div>

<app-company></app-company>