.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem .5rem rgba(0, 0, 0, 0.19);
}
  
.card-signin-style {
    font-weight: 300;
    font-size: 1.5rem;
}

.form-rounded {
    border-radius: 1rem;
}