<div class="container p-2">
    <div class="row">
      <div class="col-sm-10 col-md-7 col-lg-5 mx-auto">

        <div class="row">
          <div class="col">
            <div class="alert alert-success fade show mt-2 mb-2" *ngIf="signupStatus">
              <strong>Signup Successful. Please verify the mail and Login</strong>
            </div>
          </div>
        </div>

        <div class="row" [ngClass]="errorMessage == 'Email verification is pending' ? '' : 'invisible' ">
          <div class="col">
            <div class="alert alert-danger fade show mt-2 mb-2">
              <strong>{{ errorMessage }}</strong>
            </div>
          </div>
        </div>

        <div class="row" [ngClass]="errorMessage == 'Invalid User Name and Password' ? '' : 'invisible' ">
          <div class="col">
            <div class="alert alert-danger fade show mt-2 mb-2">
              <strong>{{ errorMessage }}</strong>
            </div>
          </div>
        </div>
        
        <div class="card card-signin my-5">
          <div class="card-body">
            <h3 class="card-title card-signin-style">Login</h3>
            <form #loginForm="ngForm" (submit)="login(loginForm)">
             
  
              <div class="row m-1">
                <div class="col">
                    <label for="user-name">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required
                      [(ngModel)]="username" #user="ngModel">
                    <div [ngClass]="user.errors?.required==true && user.touched==true ? '' : 'invisible' " class="rounded alert-danger mx-1 p-1">Username is
                        required</div>
                </div>
              </div>
  
              <div class="row m-1">
                <div class="col">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                      #psd="ngModel" required [(ngModel)]="password">
                    <div [ngClass]="psd.errors?.required==true && psd.touched==true ? '' : 'invisible' " class="rounded alert-danger m-1 p-1">Password is
                        required</div>
                  </div>
                </div>              
  
              <div class="row">
                <div class="col d-flex justify-content-between">
                  <div><button class="btn btn-lg btn-success btn-block" [disabled]="!loginForm.valid"
                      type="submit">Login</button>
                  </div>
                  <div class="text-secondary">New Here? <button type="button" class="btn text-primary pb-2"
                      routerLink="/signup">Signup User</button></div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>